@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    color: white; 
}


header{
    width: 100%;
    padding: 1rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    color: #b74b4b;
    text-decoration: none;
}

nav a{
    margin-left: 2rem;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
}


.home{
    height: calc(100vh - 80px); /* ✅ fits screen */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 0 10%;
}

/* image */
.profile-pic{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #b74b4b;
}

/* content */
.home-content h1{
    font-size: 2.8rem;
}

.home-content h3{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.home-content p{
    font-size: 1rem;
    max-width: 100%;
    margin-top: 1rem;
}

/* social icons */
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #b74b4b;
    color: #b74b4b;
    margin: 1.5rem 1rem 1.5rem 0;
    font-size: 1.3rem;
    transition: 0.3s;
    text-decoration: none;
}

.social-icons a:hover{
    background-color: #b74b4b;
    color: black;
}

/* button */
.btn{
    display: inline-block;
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    border: 2px solid #b74b4b;
    color: #b74b4b;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
}

.btn:hover{
    background-color: #b74b4b;
    color: black;
}

/* typing effect */
.typing-text span::before{
    content: "Web Developer";
    animation: words 6s infinite;
}

@keyframes words{
    0%,50%{content:"Web Developer";}
    51%,100%{content:"Python Developer";}
}

.footer{
    background-color: black;
    padding: 3rem 10%;
    color: #ccc;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-box h3{
    color: #b74b4b;
    margin-bottom: 1rem;
}

.footer-box a,
.footer-box p{
    display: block;
    color: #ccc;
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.footer-box a:hover{
    color: #b74b4b;
}

/* .footer-icons a{
    margin-right: 1rem;
    font-size: 1.3rem;
    color: #b74b4b;
} */

.footer-bottom{
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #777;
}

